@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
	font-family: 'CaskaydiaCove Nerd Font Mono';
	src: url('/assets/fonts/CaskaydiaCoveNerdFontCompleteM-.eot');
	src: url('/assets/fonts/CaskaydiaCoveNerdFontCompleteM-.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/CaskaydiaCoveNerdFontCompleteM-.woff2') format('woff2'),
		url('/assets/fonts/CaskaydiaCoveNerdFontCompleteM-.woff') format('woff'),
		url('/assets/fonts/CaskaydiaCoveNerdFontCompleteM-.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


@font-face {
	font-family: 'Pixeloid Mono';
	src: url('/assets/fonts/PixeloidMono-VGj6x.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

html {
	scrollbar-color: hsla(0, 0%, 100%, 0.289) transparent;
	scrollbar-width: thin;
	font-family: 'Pixeloid Mono';
	color: #A7ADBA;
	background-color: #1f1929;
}

.heading {
	color: white
}

::-webkit-scrollbar {
	width: 2px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: hsla(0, 0%, 100%, 0.289);
	border-radius: 3px;
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {
	display: none;
}

a:hover {
	text-decoration: none;
}

a {
	text-decoration: underline;
}

.astro-code {
	background-color: #1f1f1f;
	overflow-x: auto
}

li {
	list-style: none;
	margin-left: 0;
	padding-left: 1em;
	text-indent: -1em;
	padding-left: 1em;
	text-indent: -1em;
}

.projects:before {
	content: url('/assets/icons/rsz_heart-bullet-point-8-bit.png');
	padding-right: 10px;
}

.link:before {
	content: url('/assets/icons/rsz_social-bullet-point-8-bit.png');
	padding-right: 10px;
}

.flash {
	animation: flash-anim 1s steps(2, end) infinite;
	-webkit-animation: flash-anim 1s steps(2, end) infinite;
}

@keyframes flash-anim {
	10% {
		opacity: 0;
	}

	40%,
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes flash-anim {
	10% {
		opacity: 0;
	}

	40%,
	100% {
		opacity: 1;
	}
}

.bob {
	height: 20px;
	aspect-ratio: 1;
	position: absolute;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	border-radius: 30%;
	outline: 2px solid white;
}